<div class="row justify-content-center">
   
<div class="parallax-bg cityBanner" data-bgurl="./assets/citybanner.jpg">

</div>

  <div id="city-floating-box" class="d-flex justify-content-center align-items-center flex-column">
        <h1>City</h1>
        <button class="btn btn-primary" id="learn-more">Learn more</button>
    </div>

</div>

<div class="row d-flex justify-content-between" id="city-attraction">

        <h3>Attraction</h3>
        <button class='btn btn-primary' id="city-filter">Filter</button>

</div>

<div class="row">
    <div class="col">
        <img class="city-attraction-image img-fluid" src="./assets/coffee.jpg">
    </div>
    <div class="col">
        <img class="city-attraction-image img-fluid" src="./assets/garden3.jpeg">
    </div>
</div>

<div class="row">
    <div class="col">
        <img class="city-attraction-image img-fluid" src="./assets/coffee.jpg">
    </div>
    <div class="col">
        <img class="city-attraction-image img-fluid" src="./assets/garden3.jpeg">
    </div>
</div>
