<div class="index">
<div class="row justify-content-center">
   
   <img class="img-fluid" id="indexBanner" src="./assets/banner.png">

  
</div>

<div class="row justify-content-center">
<div class="dropdown d-flex align-items-center" id="chooseCity">
  <button id="cityButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose a city
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item city-drop-item" href="/city/tokyo">Tokyo</a>
    <a class="dropdown-item city-drop-item" href="/city/osaka">Osaka</a>
    <a class="dropdown-item city-drop-item" href="/city/fukuoka">Fukuoka</a>
    <a class="dropdown-item city-drop-item" href="/city/hiroshima">Hiroshima</a>
  </div>
</div>

</div>

<div class="row no-gutters cityImageRow">
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <img src="./assets/garden3.jpeg" class="city-img" >
   
    </div>
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <img src="./assets/garden3.jpeg" class="city-img" >
   
    </div>
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <img src="./assets/garden3.jpeg" class="city-img" >
   
    </div>
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <img src="./assets/garden3.jpeg" class="city-img" >
   
    </div>
   
</div>
</div>
