<div class="index">
<div class="row justify-content-center">
   
   <img class="img-fluid" id="indexBanner" src="./assets/banner.png">

  
</div>

<div class="row justify-content-center">
<div class="dropdown d-flex align-items-center" id="chooseCity">
  <button id="cityButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose a city
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item city-drop-item" href="/city/Tokyo">Tokyo</a>
    <a class="dropdown-item city-drop-item" href="/city/Osaka">Osaka</a>
    <a class="dropdown-item city-drop-item" href="/city/fukuoka">Fukuoka</a>
    <a class="dropdown-item city-drop-item" href="/city/hiroshima">Hiroshima</a>
  </div>
</div>

</div>

<div class="row no-gutters cityImageRow">
        
    <div class="indexPhotoCol col-lg-3 col-6">
   
         
            <a href="/city/Tokyo"><img src="../assets/tokyo.jpg" class="city-img" >
            <div class="index-overlay">
            <div class="attraction-name">Tokyo</div>
                </div>

   
    </div>
   
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <a href="/city/Osaka"><img src="../assets/osaka.jpg" class="city-img" >
            <div class="index-overlay">
            <div class="attraction-name">Osaka</div>
                </div></a>
   
    </div>
    <div class="indexPhotoCol col-lg-3 col-6">
   
           <a href="/city/Fukuoka"><img src="./assets/fukuoka.jpg" class="city-img" >
             <div class="index-overlay">
            <div class="attraction-name">Fukuoka</div>
                </div></a>
   
    </div>
    <div class="indexPhotoCol col-lg-3 col-6">
   
            <a href="/city/Hiroshima"><img src="./assets/hiroshima.jpg" class="city-img" >
             <div class="index-overlay">
            <div class="attraction-name">Hiroshima</div>
                </div></a>
   
    </div>
   
</div>
</div>
