<div class="row">
   
   <img class="img-fluid" src="./assets/banner.png">

  
</div>

<div class="row"></div>
<form>
       <select name="city" id="city">
           <option value="choose">Choose a city</option>
            <option value="tokyo">Tokyo</option>
            <option value="osaka">Osaka</option>
        
        </select>
   </form>

</div>

<div class="row">
    <div class="col">
        <img class="city img-fluid" src="./assets/garden3.jpeg">
    </div>
   <div class="col">
        <img class="city img-fluid" src="./assets/garden3.jpeg">
    </div>
    <div class="col">
        <img class="city img-fluid" src="./assets/garden3.jpeg">
    </div>
    <div class="col">
        <img class="city img-fluid" src="./assets/garden3.jpeg">
    </div>
</div>
