<div class="d-flex align-items-center flex-column">
<form action="/auth/local" method="post" class="d-flex flex-column form-wrapper" id="login-form">
    <div><h3>Login</h3></div>
    <div id="signup-line"></div>

        <div>
        
        <input type="text" name="email" placeholder="Email" class="form-control sign-up-input"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" class="form-control sign-up-input"/>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>

    <div class="d-flex align-items-center flex-column">
    <div id="signup-line2"></div>

    <div >Or login with</div>

    <a class="btn-google" href="/auth/google"><i class="fab fa-google"></i>Login with Google</button></a>
    <a class="btn-facebook" href="/auth/facebook"><i class="fab fa-facebook"></i>Login with Facebook</a>


    </div>

    
   
</form>

<div class="form-wrapper d-flex justify-content-center">
    <div >Don't have an account? </div><div><a href="/auth/signup" class="signup-link"> Sign up!</a></div>
</div>

</div>