<div class="d-flex align-items-center flex-column">
<form action="/auth/local" method="post" class="d-flex flex-column form-wrapper" id="login-form">
    <div><h3>Login</h3></div>
    <div id="signup-line"></div>

        <div>
        
        <input type="text" name="email" placeholder="Email" class="form-control sign-up-input"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" class="form-control sign-up-input"/>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
    <a class="btn-google" href="/auth/google">Google+</a>
    <a class="btn-facebook" href="/auth/facebook">Facebook</a>
</form>

<div class="form-wrapper d-flex jusify-content-center">
    Don't have an account? <a href="/auth/signup" id="signup-link"> Sign up!</a>
</div>

</div>