<html>
<head>
    <meta charset="utf-8">
    <title>secret
    </title>
</head>
<form action="/login/local" method="post">
    <div>
        <label>email:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
</form>
</html>