<div class=" row edit-title">
    <h3>Add a plan </h3>
</div>

<div class="d-flex">
    <form action="/plan" method="POST" class="d-flex flex-column " id="create-new-plan">
        
        <div class="form-row align-items-center">
             <div class="col-12 col-md-6">
            <input type="text" name="planname" placeholder="Name you plan *" class="form-control sign-up-input"
                required>

             </div>
          
            <div class="col-12 col-md-6">
                <select name="days" class="form-control sign-up-input" id="plan-day-number">
                    <option selected disabled value="notChosen">Number of days</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="form-row align-items-center" id="plan-box">
    {{!-- Append boxes --}}
</div>
<div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary" value="Add New Plan" />
</div>


<!-- Modal -->
<div class="modal fade" id="attractionModal" tabindex="-1" role="dialog" aria-labelledby="attractionModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attractionModalLongTitle">Attractions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <select class="form-control" id="plan-attraction-city">
                    <option selected disabled value="notChosen">Choose a city</option>
                    <option value="Tokyo">Tokyo</option>
                    <option value="Osaka">Osaka</option>
                    <option value="Fukuoka">Fukuoka</option>
                    <option value="Hiroshima">Hiroshima</option>
                </select>
           
        <div id="plan-attraction">
            {{!-- Put attraction here --}}
        </div>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




</div>

<script>
    // each div in "plan-box" should have different id to represent different day
    $('#plan-day-number').change(function () {
        if ($('#plan-day-number').val() != 'notChosen') {
            let days = $('#plan-day-number').val();
            for (var i = 0; i < days; i++) {
                $('#plan-box').append(
                    `<div class='day-box'> 
                        <h5>Day ${i + 1}</h5>
                        <div class="plan-line-grey"></div>
                        <div class="row">
                             <div class="col-md-6 day-col"> 
                                 <div class="day-night"><i class="fas fa-sun"></i> Day</div> 
                                 <div id="d-${i + 1}"> Some attraction here </div>
                                 <button class="btn plan-button add-attraction" id="d-${i+1}" onClick="con(this.id)"data-toggle="modal" data-target="#attractionModal"> Add attraction </button>
                            </div>
                             <div class="col-md-6">
                                 <div class="day-night"><i class="fas fa-moon"></i> Night</div>
                                 <div id="n-${i + 1}"> Some attraction here</div>
                                 <button class="btn plan-button add-attraction" id="n-${i+1}" onClick="con(this.id)"data-toggle="modal" data-target="#attractionModal"> Add attraction </button>
                            </div>
                         </div>
                         </div>
                    `
                )
            }
        }
    })

  function con(id){
      console.log(id);
      let city= $('#plan-attraction-city').val();
  }

function getAttraction(cityName){
         $.get( `/api/city/${cityName}`, function() {
            })
            .done(function(data) {
                console.log(data)
            //appendAttraction(data);
            })
            .fail(function() {
                console.log( "Cannot get attraction" );
            })
}

  $('#plan-attraction-city').change(function(){
      if($('#plan-attraction-city').val()!='notChosen'){
        let cityName=$('#plan-attraction-city').val();
        getAttraction(cityName);
    }
      
  })


</script>