<div class=" row edit-title">
    <h3>Add a plan </h3>
</div>

<div class="d-flex">
    <div class="d-flex flex-column " id="create-new-plan">
        <div class="form-row align-items-center">
            <div class="col-12 col-md-6">
                <input id="planname" type="text" name="planname" placeholder="Name you plan *" class="form-control sign-up-input"
                    required>
            </div>
            <div class="col-12 col-md-6">
                <select name="days" class="form-control sign-up-input" id="plan-day-number">
                    <option selected disabled value="notChosen">Number of days</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-row align-items-center" id="plan-box">
    {{!-- Append boxes --}}
</div>

<div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary" value="Add New Plan" onclick="submit()" />
</div>


<!-- Modal -->
<div class="modal fade" id="attractionModal" tabindex="-1" role="dialog" aria-labelledby="attractionModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attractionModalLongTitle">Attractions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="plan-attraction-city">
                    <option selected disabled value="notChosen">Choose a city</option>
                    <option value="Tokyo">Tokyo</option>
                    <option value="Osaka">Osaka</option>
                    <option value="Fukuoka">Fukuoka</option>
                    <option value="Hiroshima">Hiroshima</option>
                </select>

                <div id="plan-attraction" class="row no-guttera">
                    {{!-- Put attraction here --}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" style="margin:0" onClick="saveAttraction()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="../js-file/plan.js"></script>
