<div class="row profile-title">
    <h3>My Profile</h3>
    <div id="profile-line"></div>
</div>

<div class="row" id="user-profile-row">
    <div class="col-md-5 d-flex justify-content-center profile-col"> 
        {{!-- Put user profile pic here --}}
        <img src="../assets/male-profile.png" id="profile-picture">
    </div>
         
    
    <div class="col-md-7 profile-info-col profile-col"> 
        <div id="profile-username"> Username: {{user.email}} </div>
        <div id="profile-email"> Email: {{user.email}} </div>
        <div id="profile-birthday"> Birthday: {{user.email}} </div>
       
    </div>

</div>
<div>
    <h5>Favourite attraction</h5>
</div>
<div class="row no-gutters" id="profile-attraction-row" >
    <div class="col-md-3 col-6 profile-attraction-col">
        <img src="../assets/garden3.jpeg" class="profile-attraction">
    </div>
    <div class="col-md-3 col-6 profile-attraction-col">
        <img src="../assets/coffee.jpg" class="profile-attraction">
    </div>
    <div class="col-md-3 col-6 profile-attraction-col">3</div>
    <div class="col-md-3 col-6 profile-attraction-col">4</div>
    <div class="col-md-3 col-6 profile-attraction-col">5</div>
    
    

</div>
    
