<div class="row profile-title">
    <h3>My Profile</h3>
    <div id="profile-line"></div>
</div>

<div class="row" id="user-profile-row">
    <div class="col-md-5 d-flex justify-content-center profile-col"> 
        {{!-- Put user profile pic here --}}
        <img src="../assets/male-profile.png" id="profile-picture">
    </div>
         
    
    <div class="col-md-7 profile-info-col profile-col"> 
        <div id="profile-username"> Username: {{user.name}} </div>
        <div id="profile-email"> Email: {{user.email}} </div>
        <div id="profile-birthday"> Birthday: {{user.birthday}} </div>
       
    </div>

</div>

{{!-- Bookmarked attraction --}}
<div class="profile-subtitle">
    <h4>Favourite attraction</h4>
    <div class="profile-subtitle-line"></div>
</div>
<div class="row no-gutters profile-attraction-row" id="favourite-attraction-row">

</div>
    
{{!-- Line --}}
<div class="profile-line-grey"></div>

{{!-- User attraction --}}
<div class="profile-subtitle">
    <h4>My attraction</h4>
    <div class="profile-subtitle-line" ></div>
</div>
<div class="row no-gutters profile-attraction-row" id="my-attraction-row" >

</div>

{{!-- Line --}}
<div class="profile-line-grey"></div>

{{!-- User attraction --}}
<div class="profile-subtitle">
    <h4>My plans</h4>
    <div class="profile-subtitle-line"></div>
</div>
<div class="row no-gutters profile-attraction-row" id="myPlansRow" >
   
</div>

<script>
    let userId={{user.id}};


    //Get favourite attraction
    function checkFavourite(id){
        return new Promise(function(resolve,reject){
            $.get( `/api/bookmark/${id}`, function() {
            })
            .done(function(data) {
                let bookmarkArray=data.map(function(object){
                    return object.attractionid
                })

                if (bookmarkArray.length==0){
                      $('#favourite-attraction-row').append(
                        `No attractions yet :( ` )
                    reject();

                }else{
                    resolve(bookmarkArray)
                }
                
            }
            )
            .fail(function() {
                console.log( "Cannot get attraction" );
                reject();
            })

    })
    }

    async function getFavouriteAttraction(){
        let array=await checkFavourite(userId);
        console.log('array', array)
   
      
        for(var i = 0; i<array.length; i++){
            $.get( `/api/attraction/${array[i]}`, function() {
            })
            .done(function(data) {

                console.log("attraction", data)
          
            $('#favourite-attraction-row').append(
                `<div class="col-md-3 col-5 profile-attraction-col">
                <a href="/attraction/${(data[0])[0].id} "><img src="${(data[0])[0].icon} " class="profile-attraction"></a>
                <div class="profile-overlay">
                        <div class="profile-attraction-name">${(data[0])[0].name}</div>
                    </div>
            </div>` )
            })
            .fail(function() {
                
                console.log( "Cannot get attraction" );
                return "no favourite attraction"
            }) 
        }
       
    }

    //get my attraction
    function checkMy(id){
      
            $.get( `/profile/myAttraction/${id}`, function() {
            })
            .done(function(data) {

                for(var a=0; a<data.length;a++){
                 
                     $('#my-attraction-row').append(
                        `<div class="col-md-3 col-5 profile-attraction-col">
                        <a href="/attraction/${data[a].id} "><img src="${data[a].icon} " class="profile-attraction"></a>
                        <div class="profile-overlay">
                                <div class="profile-attraction-name">${data[a].name} <a href="/edit/attraction/"><i class="fas fa-edit"></a></i></div>
                            </div>
                        </div>` )

                }
                
            }
            )
            .fail(function() {
                $('#my-attraction-row').append(
                        `No attractions yet :( <a href="/add/attraction" class="signup-link">Add one!</a>` )
                console.log( "Cannot get attraction" );
                return "no attraction"
            })

  
    }

    //Check plans

    function checkMyPlan(id){
      
            $.get( `/profile/myPlan/${id}`, function() {
            })
            .done(function(data) {

                for(var a=0; a<data.length;a++){
                 
                     $('#myPlansRow').append(
                        `<div class="col-md-3 col-5 profile-attraction-col">
                        <img src="${data[a].icon} " class="profile-attraction">
                        <div class="profile-overlay">
                                <div class="profile-attraction-name">${data[a].name} <a href="/edit/attraction/"><i class="fas fa-edit"></a></i></div>
                            </div>
                        </div>` )

                }
                
            }
            )
            .fail(function() {
                $('#myPlansRow').append(
                        `No plans yet :( <a href="/plan" class="signup-link">Add one!</a>` )
                console.log( "Cannot get attraction" );
                return "no attraction"
            })

  
    }

    getFavouriteAttraction();
    checkMy(userId);
    checkMyPlan(userId);
    

</script>