<html>
<head>
    <meta charset="utf-8">
    <title>secret
    </title>
</head>
<form action="/auth/local" method="post">
    <div>
        <div>your username: {{user.email}}</div>
    </div>
    
</form>
</html>