<div class="d-flex justify-content-center">
<form action="/auth/signup" method="post" class="d-flex flex-column form-wrapper" id="sign-up-form">
    
        <div><h3>Sign up</h3></div>
        <div id="signup-line"></div>
    
    <div>
        <input type="text" name="username" placeholder="Username *" class="form-control sign-up-input" required>
    </div>
    <div>
        <input type="email" name="email"  placeholder="Email *" class="form-control sign-up-input" required>
    </div>
     <div>
        <input type="password" name="password" id="password"  placeholder="Password *" class="form-control sign-up-input" required>
    </div>
    <div>
        <input type="password" name="confirmPassword" placeholder="Re-enter password *" class="form-control sign-up-input" id="confirm_password" required>
    </div>
     <div  id="divCheckPasswordMatch">
    </div>
    <div class="form-row align-items-center">
       <div class="col-3">Birthday:</div>
        <div class="col-9"><input type="date" name="birthday" class="form-control sign-up-input"/></div>
    </div>
    <div class="form-row align-items-center">
        <div class="col-3">Gender:</div>
        <div class="col-9">
            <select name="gender" class="form-control sign-up-input">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>
   
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Create account" />
    </div>
    </div>
   
</form>

<script src="../js-file/signup.js">
 
    
</script>
</div>