body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid{
    /* height:100vh; */
}

/* =========== Navbar ==========*/
nav{
    height:10vh;
    padding:20px 50px 20px 50px;
    background-color:#ffc425;
}

#navBarLogo{
    height:30px;
    margin-right: 10px;
}

#profilePicture{
    border-radius:50%;
    height:30px;
    margin-left:20px;
    margin-top:10px;
}

#navbarDropdown{
    border: 2px border #eb0045 ;
    color:#eb0045 ;
    font-size: 20px;
}

/* =========== bodyBox ==========*/
#bodyBox{
    padding-top:10vh;
    height:90vh
}

/* =========== index ==========*/
.index{
    padding:20px;
    height:90vh;
}

#indexBanner{
    height:25vh;
}

#chooseCity{
    height:20vh;
}

.indexPhotoCol{
    padding:10px;
    display: flex;
    justify-content: center;
}

#cityButton{
    height:60px;
    width:250px;
    background-color:#eb0045;
    color:white;
    font-size:30px;
}

#cityButton:hover{
    background-color:white;
    color:#eb0045;
    border: 2px solid #eb0045;
}

.city-drop-item{
    width:250px;
    background-color:white;
    color:#eb0045;
    font-size:30px;
}
.city-drop-item:hover{
    background-color:#eb0045 !important;
    color:white;
}

.city-img{
    object-fit: cover;
    overflow: hidden;
    max-height: 20vw; 
    max-width : 20vw;  
}

@media only screen and (max-width: 480px) {
    #indexBanner{
        height:20vh;
    }

    #chooseCity{
        height:15vh;
    }

    .city-img{
        object-fit: cover;
        overflow: hidden;
        max-height: 20vh; 
        max-width : 20vh;  
    }
    
    #cityButton{
        height:50px;
        width:250px;
        background-color:#eb0045;
        color:white;
        font-size:25px;
    }
}

/* =========== city ==========*/
.cityBanner{
    width:100vw;
    height:50vh;
}

#city-floating-box{
    width:30vw;
    height:20vh;
    background-color:white;
    opacity:0.85;
    z-index:1;
    position: absolute;
    border-radius:40px;
    top:25vh;
}

#learn-more{
    font-size:13px;
    opacity:1;
    border:1px solid #eb0045;
    color:#eb0045;
    background-color:transparent;
}

#learn-more:hover{
    border:1px solid #eb0045;
    background-color:#eb0045;
    color:white;
}

#city-name{
    opacity:1;
}

#city-attraction{
    padding:20px;
}

#city-filter{
    border:1px solid #eb0045;
    background-color:#eb0045;
    color:white;
    width:80px;
    height:35px;
}

.city-attraction-image{
    /* object-fit: cover; */
    overflow: hidden;
   height: 30vh; 
 
}

@media only screen and (max-width: 480px) {
    .cityBanner{
        height:40vh;
    }

    #city-floating-box{
        width:60vw;
        height:20vh;
        top:20vh;
    }
}